<div class="task-container">
  <div *ngIf="isLoading">
    <mat-spinner diameter="50" color="warn"></mat-spinner>
  </div>
  <div *ngIf="!isLoading">

    <div class="example-container">
      <mat-form-field appearance="legacy">
        <mat-label>task description</mat-label>
        <input matInput placeholder="task description" [(ngModel)]="taskTitle" (keydown.enter)="addTask()">
      </mat-form-field>
      <button mat-button color="primary" (click)="addTask()">
        <mat-icon>save</mat-icon>
      </button>
    </div>



    <div *ngIf="taskService.dataSource.length;else noTasks">
      <mat-list role="list" dense="true" *ngFor="let task of taskService.dataSource">
        <mat-list-item role="listitem">
          {{task.title}}
          <div class="example-spacer"></div>
          <button mat-button [matMenuTriggerFor]="taskOptions">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #taskOptions="matMenu" xPosition="before">
            <button mat-menu-item [disabled]="task.completed" (click)="finishTask(task.id)">
              <mat-icon color="primary">done</mat-icon>
              <span>Finish</span>
            </button>
            <button mat-menu-item (click)="removeTask(task.id)">
              <mat-icon color="accent">delete_outline</mat-icon>
              <span>Remove</span>
            </button>
          </mat-menu>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <ng-template #noTasks>
      <mat-list role="list">
        <mat-list-item role="listitem">
          No tasks for today !
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </ng-template>
  </div>
</div>
